*{
    margin-left: 25px;
    margin-right: 25px;
    background-color: black;
    color: blanchedalmond;
}
nav{
    justify-content: space-around;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
h3{
    text-align: center;
}